.navigation{
    background-color: #eee;
    width: 100%;
    float: left;
    margin-bottom: 2rem;
    
    span{
        float: left; 
        padding: 10px;
        font-weight: bold;
        color: #2572b4;
        font-size: 1.2rem;

    }
    &-link{
        float: right;
        padding-top: 12px;
        a{
            padding: 0px 20px; 
            display: inline-block;
            color: #222;
            text-decoration: none;
            &:first-child{
                border-right: 1px solid #ccc;
            }
        }
    }
}